<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blitz</title>
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/507895/style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="success">

  <div class="container">

    <section class="user">
      <div class="user-avatar-wrapper">
        <img class="user-avatar" src="{{ image }}">
      </div>
      <h1 class="user-fullname">{{ first_name }} {{ last_name }}</h1>
      <h3 class="user-school">{{ school }}</h3>
    </section>

    <section>
      <h3 class="directions">Show this screen at registration.</h3>
    </section>

  </div>

  <br><br>

</body>
</html>
